*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(255, 47, 179, 0.397);
    text-align: center;
}
.container{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

    
}
.game{
    height: 300px;
    
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.3vmin;

    
}
.btn{
    height: 100px;
    width: 100px;
    border-radius: 11px;
    border: none;
    box-shadow:0 0 20px rgba(0,0,0,0.7);
    font-size: 40px;
    color: red;
    background-color: #ffffc7;
}
.reset{
    padding: 7px;
    background-color: black;
    color: white;
    border-radius: 11px;
    border: none;
    font-size: 14px;
}
.new-btn{

    padding: 7px;
    background-color: black;
    color: white;
    border-radius: 11px;
    border: none;
    font-size: 14px;
    
}
.winner{
    color: black;
    font-size: 40px;
}
.message{
    height: 120vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}
.hide{
    display: none;
}
